body{
  background-color: whitesmoke;
 
}
main{
  width:70%;
  margin:0 15%;
  background-color: white;
  color:#383838;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.5em;
  
}
main p{
  width:96%;
  margin:0 2%;
  padding-bottom:40px;
  font-family: 'Montserrat', sans-serif;
}
.logo{
  width:80%;
  margin:0 10%;
  padding: 30px;
}
h1{
display:none; 
}
h2{
  font-size:2.0em;
  font-weight: lighter;
  color:#141414;
  font-family: 'Montserrat', sans-serif;
 
}
h3{
  font-size: 1.5em;
  font-weight: lighter;
  color:#141414;
  font-family: 'Montserrat', sans-serif;
}
ul{
  width:80%;
  margin:0 10%;
  
}
li{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
  color:black;
}
a:hover{
  color:darkgrey;
}
.heading{
  background-color: lightgray;
  width:100%;
  
}
  

.about, .capabilities, .contact{
  width:70%;
  margin:0 15%;
  border-bottom: 2px solid black;
}
.capabilities{
  padding-bottom: 40px;
}
.part_logos{
  width:80%;
  margin:0 10%;
}
footer{
  background-color: lightgray;
  color:#383838;
  text-align: center;
  padding:10px;
  font-style: 1.0em;
  font-family: 'Montserrat', sans-serif;
  
}
footer p{
  padding-bottom:10px;
}

